
:root {
  --primary-color: rgba(224, 117, 162, 0.3);
  --secondary-color: rgba(224, 117, 212, 0.3);
  --terciary-color: #E0A875;
  --background-color: #FDF9FB;
  --background-dark: #373535;
  --background-overlay: #F3F3F3;
  --heading-font: "Saira", sans-serif;
  --text-font: "Raleway", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--text-font);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Saira:wght@300;400;500;600;700&display=swap');  